name: Fetch Price

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *" # Jalankan tiap 6 jam

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Jalankan Fetch Harga
        run: xvfb-run --auto-servernum node fetch.js
