name: Fetch Eraspace Price

on:
  schedule:
    - cron: "0 * * * *"   # setiap 1 jam
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Playwright
        run: |
          npm install playwright
          npx playwright install --with-deps

      - name: Fetch price from Eraspace
        run: |
          node fetch.js
