name: Fetch Eraspace Price

on:
  schedule:
    - cron: "0 * * * *"   # setiap 1 jam
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Playwright
        run: |
          npm install playwright node-fetch
          npx playwright install --with-deps

      - name: Fetch price
        run: node fetch.js
